<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","anchor":"top","layout":{"type":"default"}} -->
<main id="top" class="wp-block-group">
	<!-- wp:pattern {"slug":"serensweb-child/home-hero"} /-->
	<!-- wp:pattern {"slug":"serensweb-child/home-about"} /-->
	<!-- wp:pattern {"slug":"serensweb-child/home-strengths"} /-->
	<!-- wp:pattern {"slug":"serensweb-child/home-work"} /-->
	<!-- wp:pattern {"slug":"serensweb-child/home-process"} /-->
	<!-- wp:pattern {"slug":"serensweb-child/home-contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
